.lock
/.build
/auto
/binary
/local
/chroot
/chroot.tmp
/cache
chroot.packages.install
/binary.modified_timestamps
chroot.files
chroot.packages.live
live-image-amd64.contents
live-image-amd64.files
*.iso
live-image-amd64.hybrid.iso.zsync
live-image-amd64.packages
chroot.installed_tmp_pkgs
config/hooks/normal/*-setup-zsh.hook.chroot
configure
config/includes.chroot_after_packages/opt/LocaleSelector
/Makefile
aclocal.m4
autom4te.cache
config.status
config.log
configure~
*.tmp
config/hooks/normal/5039-dbg-console.hook.chroot
config/hooks/normal/5045-setup-nodejs.hook.chroot
config/hooks/normal/5049-setup-nvim.hook.chroot
config/hooks/normal/5035-setup-fastgithub.hook.chroot
*.sln
config/hooks/normal/7999-post-dbg-console.hook.chroot
config/bootstrap
